@import "../../../scss/variables.scss";
@import "../../../scss/mixins/flexGrid";
@import "../../../scss/mixins/cards";
@import "../../../scss/mixins/contentLayout";
@import "../../../scss/mixins/breakpoints";

.person {
  &:not(.-featured) {
    @include forLargerThanMobile {
      @include card("person");
      .person_decoration {
        background-image: none !important;
      }
      img {
        width: 100%;
      }
    }
    @include forMobile {
      @include contentWithDecoration("person", 100px, right);
      .person_decoration {
        background-image: none !important;
      }
      & + .person:not(.-featured) {
        border-top: 1px solid $color-gray;
        margin-top: $spacing-base;
        padding-top: $spacing-base;
        .person_decoration {
          top: $spacing-base;
        }
      }
    }
  }

  &.-featured {
    @include card("person");
    @include forMobile {
      .person_decoration {
        background-image: none !important;
        > img {
          width: 100%;
        }
      }
    }
    @include forLargerThanMobile {
      .person_decoration > img {
        display: none;
      }
      @include contentWithDecoration("person", 35%, left);
    }
    @include forLargerThanLgScreen {
      .person_body {
        padding: $spacing-xl !important;
      }
    }
    @include forLargerThanTabletLandscape {
      @include contentWithDecoration("person", 300px, left);
    }
    .person_options {
      margin-top: $spacing-base;
      @include forLargerThanMobile {
        max-width: 250px;
      }
      .btn {
        display: block;
      }
      .bookingBtn + .btn {
        margin-top: $spacing-sm;
      }
    }

    & + .person.-featured {
      margin-top: $spacing-lg;
    }
  }
}

.personList {
  @media (min-width: $screen-xl-min) {
    @include flexGrid($spacing-lg, 3);
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-lg-max) {
    @include flexGrid($spacing-lg, 2);
  }
  @media (max-width: $screen-xs-max) {
    @include flexGrid($spacing-lg);
  }
}
