@import "../../../scss/variables.scss";

.Widget {
  position: relative;
  background-color: lighten($color-gray-light, 5%);
  border-radius: 10px;
  padding: $spacing-sm;
  // margin-bottom: $spacing-md;

  &.-fullHeight {
    height: 100%;
  }

  > div {
    padding: $spacing-sm;
  }

  &_label {
    text-transform: uppercase;
    font-size: $font-size-h5;
    font-weight: 700;
    color: $widgetLabel-textColor;
    font-family: $font-primary;
  }

  &_badge {
    position: absolute;
    top: $spacing-xs;
    right: $spacing-xs;
  }

  &_body {
    &.-scrollableContent {
      height: calc(100% - 36px);
      overflow-y: auto;
    }
  }

  &_footer {
    text-align: center;
  }
}
