@import "../../../scss/variables.scss";

.emptySlot {
  width: 100%;
  height: 100%;
  border: 2px dashed $color-gray-light;
  display: flex;
  align-items: center;
  justify-content: center;

  &.-hasAction {
    cursor: pointer;
  }

  &_addIcon {
    font-size: 3em;
  }

  &.-disabled {
    cursor: not-allowed;
    .emptySlot_addIcon {
      color: $color-disabled;
    }
  }
}
