@import "../../../scss/variables.scss";

.Disable {
  position: relative;
  min-height: 100%;

  &_content {
    opacity: 1;
    transition: opacity 0.3s;
  }

  &_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
  }
  &_message {
    background-color: rgba($defaults-backgroundColor, 0.9);
    font-size: 110%;
    color: $color-gray-dark;
    border: $border-primary;
    border-radius: $border-radius-size;
    padding: 0.5em 0.7em;
  }

  &.-active &_content {
    opacity: 0.5;
  }
  &.-active &_overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
