@import "../../../scss/variables.scss";

.AppointmentDetails {
  &_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: $spacing-base;
  }

  &_observation {
    min-height: 0;
  }

  &_button {
    flex-shrink: 0;
  }
}
