@import "../../../scss/variables.scss";

.MessageInput {
  display: inline-flex;
  align-items: center;
  width: 100%;

  &_input {
    width: 100%;
    // HACK need the input to expand
    input {
      width: 100%;
    }
  }

  &_item + &_item {
    margin-left: $spacing-xs;
  }
  &_action {
    display: flex;
    align-items: center;
    padding: $spacing-xs $spacing-sm;
    border-radius: 4px;
    &_icon {
      font-size: 1.3em;
      margin-right: $spacing-xs;
    }
    &:hover {
      cursor: pointer;
      background-color: $color-active;
      color: $color-active-alt;
      .MessageInput_action_icon {
        color: $color-active-alt;
      }
    }
  }
}
