@use "sass:math";
@import "../../../scss/variables.scss";

.ActionColumn {
  display: flex;
  flex-direction: column;

  &_action {
    width: 100%;
    margin-bottom: math.div($spacing-base, 2);
  }
}
