@import "../../../scss/variables.scss";

.PageCallout {
  padding: $spacing-md;
  background-color: $color-active;
  border-radius: $border-radius-size;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  &_label {
    font-size: $font-size-h4;
    line-height: 1em;
    margin-top: $spacing-sm;
  }
  * {
    color: $color-active-alt;
  }
}
