@import "../../../scss/mixins/stdActionSizes.scss";
@import "../../../scss/mixins/stdColors.scss";
@import "../../../scss/variables.scss";

.rectangularMetric {
  @include stdColorSchemesSubtle;

  border: 1.5px solid $color-gray-darker;
  font-weight: bold;
  background-color: white;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  min-width: 50px;

  * {
    width: 100%;
  }

  &.-xs {
    font-size: 12px !important;
    padding: $spacing-xs;
    max-width: 70px;
    min-height: 20px;
    width: 100%;
  }

  &.-sm {
    font-size: 16px !important;
    max-width: 150px;
    padding: $spacing-xs $spacing-sm;
    min-height: 30px;
    width: 100%;
  }

  &.-md {
    font-size: 22px !important;
    max-width: 200px;
    width: 100%;
    padding: $spacing-sm;
  }

  &.-lg {
    font-size: 32px !important;
    padding: $spacing-md;
  }
}
