@import "../../../scss/variables.scss";

.AppointmentCell {
  display: flex;
  align-items: center;

  &_payment {
    margin-top: $spacing-xs;
  }

  &_decoration {
    display: flex;
    align-items: center;
    margin-left: $spacing-xs;
  }
}
